In [1]:
import pandas as pd
import os

os.getcwd()

'/Users/rebeccajohnson/Dropbox/qss20_s21_proj/code'

In [2]:
test_opm = pd.read_csv("../data/raw_data/FACTDATA_DEC2020.TXT")
test_opm.head()

/Users/rebeccajohnson/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (3,4,6,8,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,AGYSUB,LOC,AGELVL,EDLVL,GSEGRD,LOSLVL,OCC,PATCO,PP,PPGRD,SALLVL,STEMOCC,SUPERVIS,TOA,WORKSCH,WORKSTAT,DATECODE,EMPLOYMENT,SALARY,LOS
0,AA00,11,F,13,NaN,F,340,2,ES,ES-**,R,XXXX,2,50,F,1,202012,1,181500.0,17.5
1,AA00,11,I,15,NaN,H,905,1,ES,ES-**,R,XXXX,2,50,F,1,202012,1,181500.0,27.9
2,AA00,11,E,15,15.0,E,905,1,99,GS-15,Q,XXXX,2,30,F,1,202012,1,170800.0,11.3
3,AA00,11,D,15,14.0,D,905,1,99,GS-14,L,XXXX,8,30,F,1,202012,1,129404.0,9.3
4,AA00,11,F,15,13.0,E,905,1,99,GS-13,K,XXXX,8,30,F,1,202012,1,112930.0,12.2